<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>xx-后台管理系统</title>
  <link rel="stylesheet/less" href="/css/reset.less">
  <link rel="stylesheet/less" href="/css/common.less">
  <link rel="stylesheet" href="//at.alicdn.com/t/font_1110021_bv6rtxt80dt.css">
  <link rel="stylesheet" href="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>

  <header class="lv-header">
    <div class="lv-header-left">
      <a href="/" class="logo"><h1>骚adsfsdf猪 - 我的天，你真帅</h1></a>
    </div>
    <div class="lv-header-right">
      <div class="btn"><i class="iconfont icon-setting"></i></div>
      <div class="btn"><i class="iconfont icon-edit"></i></div>
      <div class="user">
        <img class="avator" src="./images/avator.png" alt="">
        <span class="nickname">
          <%= name %>
        </span>
        <i class="iconfont icon-down"></i>
      </div>
    </div>
  </header>
